* {
    /*border: 1px solid #000;*/
}

:root {
    --Accent1: #fda3c4;
    --Accent2: #F40000;
    --MainBlack: #1F1F1F;
    --Secondary: #FFE6EF;
    --White: #ffffff;
    --Grey: #a5ced0;

    --bg: #212123;
    --dark: #191919;
    --dark-sea: #576067;
    --grey: #c2c0c0;
    --white: #fff;
    --violet: #8b57c6;
    --violet-dark: #6c3eb8;
    --light: #f6f6f7;
    --sea: #616e74;

}

body {
    font-family: "Montserrat", sant-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container__categories {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container__novelties {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container__NewCollection {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container_location {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.ticker_container {
    display: flex;
    margin: 0;
    padding: 0;
}

.container_TopGoods {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container__Suits {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.container_Usp {
    display: flex;
    margin: 0;
    padding: 0;
}

.container_footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    margin: 0 auto;
}
