.Location {
  display: flex;
  margin-bottom: 60px;
  border: 3px solid #000;
  justify-content: center;


  .container_location {
    display: flex;
    border: 3px solid #F40000;
    width: 1042px;

    .content_location {
      display: flex;
      //position: relative;

      .booriva {
        display: flex;
        width: 550px;
        height: 643px;

      }

      .BOORIVA_STORE {
        //border: 3px solid #F40000;
        position: absolute;
        display: flex;
        width: 176px;
        height: 118px;
        margin-left: 125px;
        margin-top: 109px;


        color: var(--MainBlack);
        text-align: right;
        font-family: Neucha;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }

      .address {
        //border: 3px solid #F40000;
        width: 220px;
        height: 60px;

        display: flex;
        //justify-content: end;
        align-self: flex-end;
        margin-right: 17px;


        color: var(--MainBlack);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

      }

      .info {
        display: flex;
        //border: 3px solid #F40000;

        width: 230px;
        height: 120px;
        margin-top: 363px;
        margin-left: 15px;
        word-break: break-word;

        color: var(--MainBlack);

        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      .Line_S {
        //border: 3px solid #F40000;
        width: 22px;
        height: 41px;
        display: flex;
        position: absolute;
        margin-left: 760px;
        transform: rotate(-148deg);
      }

      .Line {
        //border: 3px solid #F40000;
        width: 22px;
        height: 41px;
        display: flex;
        position: absolute;
        margin-left: 790px;
        margin-top: 81px;
      }

      .Heart_location {
        //border: 3px solid #F40000;
        width: 60px;
        height: 70px;
        display: flex;
        position: absolute;
        margin-left: 844px;
        margin-top: 17px;
      }

      .Wavy_line {
        //border: 3px solid #F40000;
        width: 115px;
        height: 27px;
        display: flex;
        position: absolute;
        margin-left: 753px;
        margin-top: 164px;
      }


      .Arrow_1 {
        //border: 3px solid #F40000;
        width: 25px;
        height: 23px;
        display: flex;
        //flex-direction: column;
        //justify-content: flex-end;
        align-content: flex-end;
        //position: absolute;
        //margin-left: 753px;
        //margin-top: 164px;
        transform: rotate(131deg);
      }

      .Arrow_2 {
        //border: 3px solid #F40000;
        width: 25px;
        height: 23px;
        display: flex;
        flex-direction: row;
        //justify-content: flex-end;
        align-content: flex-end;
        //position: absolute;
        //margin-left: 753px;
        //margin-top: 164px;
        transform: rotate(131deg);
      }
    }
  }
}