.NewCollection {
    /*position: relative;*/
    margin: 60px;
    /*width: 1920px;*/
    display: flex;
    justify-content: center;
    /*border: 1px solid #000;*/
}

.NewCollection_content {
    border: 1px solid #000;
    /*position: absolute;*/
    /*padding: 60px;*/
    border: 1px solid #000;
    /*height: 682px;*/
    width: 1920px;
    /*text-align: center;*/

    left: 50%;
    /*transform: translate(-50%);*/
}

.NewCollection_content img {
    width: 1920px;
}