.product {
  display: flex;
  justify-content: center;

  .contentProductPage {
    //border: 1px solid #000;
    display: flex;
    flex-direction: column;
    //max-width: 1146px;
    justify-content: center;
    align-content: center;
    margin: 60px auto auto auto;

    .upperBlock {
      //border: 1px solid #000;

      display: flex;
      margin: auto auto auto 110px;

      .imagesLeftBlock {
        display: flex;

        .frontImage {
          width: auto;
          height: 570px;
        }
      }

      .infoRightBlock {
        //border: 1px solid #000;
        display: flex;
        flex-direction: row;

        .rightMainInfo {

          .title {
            color: var(--MainBlack);

            font-family: Montserrat;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            white-space: pre-wrap;
          }

          .price {
            color: var(--Accent1);

            font-variant-numeric: lining-nums tabular-nums;
            font-family: Montserrat;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .sizes {

            color: var(--MainBlack);

            font-family: Montserrat;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            list-style: none;

            ul {
              display: flex;

              li {
                margin-right: 46px;
                margin-top: 10px;
                display: flex;
                border-top: 1px solid var(--MainBlack);
                border-bottom: 1px solid var(--MainBlack);

                color: var(--MainBlack);

                text-align: center;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }

            li.active {
              color: var(--Accent1);
            }

            li:hover {
              cursor: pointer;
            }
          }

          .add {
            .addToCart {
              margin: 20px auto 30px auto;

            }
          }

          .quickOrder {
            margin: 20px auto 30px auto;
          }

          .description {
            width: 473px;
            //height: 69px;
            overflow: hidden;

          }

          .line {
            width: 473px;
            margin: 11px auto 12px auto;
            border-bottom: 2px dotted var(--Accent1);
          }
        }

        .subInfo {
          //border: 1px solid #000;
          display: flex;
          flex-direction: column;
          row-gap: 50px;
          margin-left: 50px;

          .modelParams {
            //border: 1px solid #000;
            max-height: 172px;

            color: var(--MainBlack);

            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;

            p {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            img {
              width: 163px;
              height: 124px;
            }
          }

          .compound {
            display: flex;
            flex-direction: column;
            max-height: 60px;
            //border: 1px solid #000;

            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;

            li {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }

        .blockSizetable {
          .sizeTable {
            width: 217px;
            height: 44px;
          }
        }

        /* Стили для модального окна */
        .modal {
          display: flex;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.4);

          /* Стили для контента модального окна */
          .modal-content {
            background-color: var(--Accent1);
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            position: relative;

          }

          /* Кнопка для закрытия модального окна */
          .close {
            color: #aaa;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 30px;
            font-weight: bold;

            &:hover,
            &:focus {
              color: var(--White);
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }

    .lowerBlock {
      //border: 1px solid #000;
      margin: 60px auto auto 170px;
      display: flex;
      //flex-direction: row;
      .leftLowerBlock {
        display: flex;
        flex-direction: column;

        .firstLineLeftLowerBlock {
          //border: 1px solid #000;

          display: flex;
          align-content: center;

          img {
            //border: 1px solid #000;
            width: 81px;
            height: 98px;
          }

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 40px;

            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            .line_2_FirstLineLeftLowerBlock {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
            }
          }

        }

        .secondLineLeftLowerBlock {
          //border: 1px solid #000;

          display: flex;

          img {
            //border: 1px solid #000;
            width: 81px;
            height: 98px;
          }

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 42px;

            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            .line_2_SecondLineLeftLowerBlock {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
            }
          }


        }

        .thirdLineLeftLowerBlock {
          //border: 1px solid #000;

          display: flex;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 44px;

            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            .line_2_ThirdLineLeftLowerBlock {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
            }

          }

          img {
            //border: 1px solid #000;

            width: 79px;
            height: 81px;
          }
        }
      }

      .rightLowerBlock {
        display: flex;
        flex-direction: column;
        margin-left: 260px;

        p {
          color: var(--Accent1);
          font-family: Montserrat;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

      }
    }

    .mightLike {
      .titleBlock {
        margin-left: 170px;
        display: flex;
        flex-direction: column;

        .first_novelties {
          display: flex;
          color: var(--Accent1);
          font-family: Neucha;
          font-size: 54px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .underTitle {
          display: flex;
          flex-direction: row;
          align-items: center;

          .second_novelties {
            display: inline-flex;
            flex-direction: row;
            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }

          .curved_line {
            display: inline-flex;
            flex-direction: row;
            width: 65px;
            height: 15px;
            margin-left: 17px;
          }
        }
      }

      /* для карточек*/
      .novelties_card {
        display: flex;
        flex-direction: row;
        margin-top: 27px;
      }
    }
  }
}
