* {
    /*border: 1px solid #000;*/
}

:root {
    --Accent1: #fda3c4;
    --Accent2: #F40000;
    --MainBlack: #1F1F1F;
    --Secondary: #FFE6EF;
    --White: #ffffff;
    --Grey: #909090;
}

body {
    font-family: "Montserrat", sant-serif;
}

.container {
    height: 103px;
    max-height: 103px;
    margin: 0;
    padding: 0;
}

.container__categories {
    height: 658px;
    max-height: 658px;
    margin: 0;
    padding: 0;
}

.container__novelties {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container__NewCollection {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container_location {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container_TopGoods {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container_TopGoods {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container__Suits {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container_Usp {
    display: flex;
    margin: 0;
    padding: 0;
}

.container_footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
