/* Вся карточка */
.Card {
  user-select: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 360px;
  height: 530px;
  margin: 5px;

  .card_img {
    z-index: 2;
    width: 350px;
    height: 434px;
    margin: 0 5px 5px 5px;
  }

  .card_img:hover {
    animation: opacity 0.2s ease-in-out;
  }

  @keyframes opacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .card_link {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  /* Контейнер для всего описания */
  .card_body {
    position: relative;
    height: 91px;
    width: 360px;
    bottom: 0;
  }

  /* Контейнер для сердечка */
  .heart_icon {
    //border: 10px solid #F40000;
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 24px;
    right: 20px;
    top: 20px;
  }

  /* Подчеркивание картинки */
  .underline {
    border: 1px solid #fda3c4;
    bottom: 0;
    left: 20px;
    width: 320px;
  }

  /* Контейнер для текста описания */
  .card_text {
    top: 30px;
    left: 20px;
    max-width: 195px;
    width: 212px;
    height: 36px;
    position: relative;
  }

  /* Сам текст в описании */
  .card_title {
    max-width: 212px;
    margin-left: 21px;
    margin-top: 30px;
    position: absolute;
    color: #1f1f1f;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;

  }

  /* Контейнер для цены */
  .card_icon {
    left: 50%;
    transform: translateX(60px);
    width: 101px;
    height: 32px;
    position: relative;
  }

  .card_icon p {
    position: absolute;
    /* display: flex; */
    /* top: 0px; */
    right: 0px;
    color: #fda3c4;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /* Цена */
  .card_price {
    right: 0px;
    top: 30px;
    position: absolute;
    color: #fda3c4;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .cerved_heart {
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

  /* Стиль для второго path внутри .cerved_heart */
  .cerved_heart path:nth-child(2) {
    fill: #000;
  }

  .cerved_heart.redHeart path {
    fill: #f00;
  }
}