.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 50px auto;

  .contentFilters {

    display: flex;
    flex-direction: row;
    max-width: 1142px;

    .sideBar {
      display: flex;
      //flex-direction: column;

    }

    .otherContent {

      .list {
        //border: 1px solid #000;

        column-gap: 50px;
        row-gap: 50px;
        margin: 50px auto 50px 50px;
        //box-sizing: border-box;
      }

      .Instagram {

      }
    }
  }
}