.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0 auto;

  .contentFilters {


    display: flex;
    flex-direction: row;
    max-width: 1142px;

    .sideBar {
      display: flex;

    }

    .otherContent {


      .list {

        column-gap: 50px;
        row-gap: 50px;
        margin: 50px auto 50px 50px;
      }

    }
  }

  .Instagram {
    margin: 30px;
  }
}