.categories {
  margin: 15px 0 60px;
  display: flex;
  justify-content: center;

  .container__categories {
    display: flex;
    justify-content: center;

    .categories_content {
      //border: 3px solid #F40000;
      display: flex;
      width: 1141px;
      flex-direction: row;
      row-gap: 15px;
      column-gap: 15px;
      flex-wrap: wrap;


      .img_T_Shirt {
        display: flex;
        //position: relative;
        width: 563px;
        height: 346px;

        .textT_shirt {
          position: absolute;
          margin-left: 22px;
          margin-top: 267px;
        }
      }

      .img_Dresses {
        display: flex;
        //position: relative;
        width: 273px;
        height: 296px;

        .textDress {
          position: absolute;
          margin-left: 16px;
          margin-top: 175px;
        }
      }

      .img_Suits {
        display: flex;
        width: 273px;
        height: 296px;

        .textSuit {
          position: absolute;
          margin-left: 77px;
          margin-top: 225px;
        }
      }

      .img_Bottom {
        display: flex;
        //position: relative;
        width: 274px;
        height: 297px;


        .textBottom {
          position: absolute;
          margin-left: 156px;
          margin-top: 155px;

        }
      }

      .img_Outerwear {
        display: flex;
        //position: relative;
        width: 274px;
        height: 297px;


        .textOuterwear {
          position: absolute;
          margin-left: 122px;
          margin-top: 16px;
        }
      }

      .img_Hoodie {
        display: flex;
        position: relative;
        width: 561px;
        height: 345px;
        margin-top: -50px;


        .textHoodie {
          position: absolute;
          top: 204px;
          left: 52px;
        }
      }
    }
  }
}
