.cartPage {
  .contentCartPage {
    display: flex;
    flex-direction: row; /* Изменено на row */
    justify-content: center; /* Распределение пространства между колонками */
    column-gap: 50px;
    margin-top: 47px;
    align-items: flex-start; /* Если вы хотите выровнять элементы по верху */


    .leftColumn {
      display: flex;
      flex-direction: column; /* Для выравнивания внутренних блоков в столбец */

      .firstBlock {
        margin: auto auto 2rem 0;
        display: flex;
        box-sizing: border-box;

        .firstBlockLeftSide {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 230px;

          .upper_1 {
            display: flex;
            margin: 0 auto 5px 0;

            .firstBlockNumber {
              color: #FDA3C4;
              font-family: Neucha;
              font-size: 54px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .cervedFirstBlock {
              margin: 39px auto auto 25px;
            }
          }

          .Contact_info {
            color: #1F1F1F;
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }
        }

        .firstBlockRightSide {
          display: flex;
          flex-direction: column;
          width: 334px; // Занимает оставшееся пространство

          input {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

            border: 1px solid #E6E6E6; // Светло-серая граница для полей ввода
            border-radius: 10px; // Скругление углов полей ввода
            padding: 0.75rem; // Внутренний отступ полей ввода
            margin-bottom: 1rem; // Отступ между полями ввода

            &::placeholder {
              color: var(--Grey); // Цвет текста подсказки в полях ввода
            }

            &:focus {
              border-color: var(--Accent1); // Розовая граница при фокусе на поле
              outline: none; // Удаление стандартного контура при фокусе
            }
          }
        }
      }

      .secondBlock {
        margin: auto auto 2rem 0;
        display: flex;
        box-sizing: border-box;

        .secondBlockLeftSide {
          display: flex;
          flex-direction: column;
          //align-items: center;
          max-width: 230px;

          .upper_2 {
            display: flex;
            margin: 0 auto 5px 0;

            .secondBlockNumber {

              color: var(--Accent1);
              font-family: Neucha;
              font-size: 54px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .cervedSecondBlock {
              margin: 39px auto auto 23px; // Отступ между изогнутой линией и заголовком
            }
          }

          .Delivery_method {
            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }
        }

        .secondBlockRightSide {
          display: flex;
          width: 334px;

          form {

            .radio {
              label {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 1rem;
                cursor: pointer;
                font-size: 1rem;
                user-select: none;
                color: var(--MainBlack);

                input[type="radio"] {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;

                  &:checked ~ .checkmark {
                    background-color: var(--Accent1);

                    &:after {
                      display: block;
                    }
                  }
                }

                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 20px;
                  width: 20px;
                  background-color: #FFFFFF;
                  border-radius: 50%;
                  border: 2px solid #E6E6E6;

                  &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 2px;
                    left: 2px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: white;
                  }
                }
              }

              .address {
                max-width: 273px;
                font-size: 0.9rem;
                margin-left: 2rem;
              }

              textarea {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                width: 334px;
                margin-top: 1rem;
                border-radius: 10px;
                padding: 10px 0 57px 24px;
                resize: none;
                outline: none;


                &::placeholder {
                  color: var(--Accent1);
                }
              }


            }
          }
        }
      }

      .thirdBlock {
        display: flex;
        margin: auto auto 2rem auto;

        .thirdBlockLeftSide {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 230px;

          .upper_3 {
            //border: 1px solid #000;

            display: flex;
            margin: 0 auto 5px 0;

            .thirdBlockNumber {
              color: var(--Accent1);
              font-family: Neucha;
              font-size: 54px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .cervedThirdBlock {
              margin: 39px auto auto 25px;
            }
          }

          .payment_method {
            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }
        }

        .thirdBlockRightSide {

          display: flex;
          flex-direction: column;
          width: 334px;

          form {
            .radio {
              label {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 1rem;
                cursor: pointer;
                font-size: 1rem;
                user-select: none;
                color: #1F1F1F;

                input {
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;

                  &:checked ~ .checkmark {
                    background-color: var(--Accent1);

                    &:after {
                      display: block;
                    }
                  }
                }

                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 20px;
                  width: 20px;
                  background-color: #FFFFFF;
                  border-radius: 50%;
                  border: 2px solid #E6E6E6;

                  &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 2px;
                    left: 2px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: white;
                  }
                }
              }

            }
          }

          input {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            border: 1px solid #E6E6E6;
            border-radius: 10px;
            padding: 0.75rem;
            margin-bottom: 1rem;
            width: 334px;
            height: 50px;


            &::placeholder {
              color: var(--Grey);
            }

            &:focus {
              border-color: #FDA3C4;
              outline: none;
            }
          }

          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button:hover,
          input[type="number"]::-webkit-outer-spin-button:hover {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            cursor: default;
          }

          .confirmation-checkbox {
            display: flex;
            align-items: center;
            margin: 50px auto 50px 0;


            input[type="checkbox"] {
              position: absolute;
              opacity: 0;
              cursor: pointer;
            }

            .checkmark {
              height: 20px;
              width: 20px;
              background-color: #FFFFFF;
              border-radius: 50%;
              border: 2px solid #E6E6E6;
            }

            .textLabel {
              white-space: nowrap;
              margin-left: 10px;

            }

            /* Когда чекбокс выбран, изменяем стиль .checkmark */
            input[type="checkbox"]:checked + .checkmark {
              background-color: var(--Accent1);


            }

            /* Стиль для знака "галочка" внутри .checkmark */
            input[type="checkbox"]:checked + .checkmark:after {

              content: "";
              display: block;
              /* Стилизация знака "галочка" */
            }

          }

          .confirmOrder {
            &:active {
              scale: 0.95;
            }
          }
        }
      }

    }
  }

  .rightColumn {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;


    .cart-modal-content {
      display: inline-block;
      flex-direction: column;
      /* Показываем полосу прокрутки только когда необходимо */


      .titleCart {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        color: var(--MainBlack);
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .cart-items-page {

        max-height: 790px;
        overflow-y: auto;


        .cart-item {
          position: relative;
          margin-bottom: 30px;

          :hover {
            background-color: #e3e2e2; /* Цвет фона при наведении */
            border-radius: 20px;
          }

          .item-info {
            display: flex;
            flex-direction: row;
            width: 520px;
            height: 180px;

            .item-image {
              display: flex;
            }

            .item-details {
              display: flex;
              flex-direction: column;

              .item-title {
                max-width: 350px;
                word-wrap: break-word;
                color: var(--MainBlack);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-top: 10px;
                margin-left: 10px;
              }

              .item-size {
                color: var(--MainBlack);
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 8px auto auto 10px;
              }

              .item-price {

                color: var(--Accent1);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 30px auto auto 10px;

              }
            }

            .removeItemFromCart {

              display: flex;
              position: absolute;
              right: 5px;
              top: 13px;
              width: 25px;

              .removeImage {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }

      /* Общие стили для всех браузеров */
      ::-webkit-scrollbar {
        width: 8px; /* Ширина вертикальной полосы прокрутки в браузерах, использующих движок WebKit (например, Chrome, Safari) */
      }


      .cart-summary {
        margin: 20px auto auto 40px;

        .text-OrderSum {
          display: inline-flex;
          color: var(--Accent1);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .total-price {
          text-indent: 30px;
          display: inline-flex;
          color: var(--Accent1);
          text-align: right;
          font-variant-numeric: lining-nums tabular-nums;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .delivery {
        margin: 8px auto auto 40px;

        .diliverycost {
          display: inline-flex;
          color: var(--Accent1);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .free {
          text-indent: 30px;
          display: inline-flex;
          color: var(--Accent1);
          text-align: right;
          font-variant-numeric: lining-nums tabular-nums;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .body-modal-open {
          //overflow: hidden;
        }
      }

      .toPay {
        margin: 20px auto 40px 40px;

        .toPayText {
          display: inline-flex;
          color: var(--MainBlack);
          font-family: Montserrat;
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .toPayPrice {
          text-indent: 30px;
          display: inline-flex;
          color: var(--MainBlack);
          text-align: right;
          font-variant-numeric: lining-nums tabular-nums;
          font-family: Montserrat;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .body-modal-open {
          //overflow: hidden;
        }
      }
    }
  }

}







