.novelties {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container__novelties {
    .titleBlock {
      margin-left: 150px;
      display: flex;
      flex-direction: column;

      .first_novelties {
        display: flex;
        color: var(--Accent1);
        font-family: Neucha;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .underTitle {
        display: flex;
        flex-direction: row;
        align-items: center;

        .second_novelties {
          display: inline-flex;
          flex-direction: row;
          color: var(--MainBlack);
          font-family: Montserrat;
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }

        .curved_line {
          display: inline-flex;
          flex-direction: row;
          width: 65px;
          height: 15px;
          margin-left: 17px;
        }
      }
    }

    /* для карточек*/
    .novelties_card {

      display: flex;
      flex-direction: row;
      margin-top: 27px;
    }

    /* Кнопка "Смотреть" */
    .button {
      align-self: flex-end;
      margin: 0px auto 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}








