.header__row {
  position: relative;
  /* border: 5px solid #fbfb; */
  height: 103px;
  max-height: 103px;
  width: 100%;
  /* max-width: 100%; */
}

.header__logo {
  display: inline-flex;
  /* border: 5px solid #000; */
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts__nav {
  display: inline-flex;
  /* border: 5px solid #000; */
  position: absolute;
  margin-top: 21px;
  left: calc(50% - 135px);
  transform: translateX(-50%) translateX(-270px);
  align-items: center;
}

.contacts__nav img {
  margin-left: 10px;
  margin-right: 10px;
}

.contacts__nav ul {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
}

.contacts__nav a {
  color: #fda3c4;
}

.header__nav ul {
  /* border: 5px solid #000; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);

  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat;

  align-items: center;
  margin-top: 26px;
  column-gap: 72px;
  text-align: center;
}

.header__nav a {
  color: #1f1f1f;
}

.searchItems {
  display: flex;
  position: absolute;
  margin-top: 18px;
  right: calc(50%);
  transform: translateX(50%) translateX(418px);

  /* border: 5px solid #333333; */
  font-size: 12;
  font-family: Montserrat;
  font-weight: 700;
  justify-items: center;
  align-items: center;
}
.searchItems a {
  color: #1f1f1f;
}

.searchItems .searchIcon {
  margin-right: 16px;
}

.heartAndBag {
  margin-left: 114px;
  justify-items: center;
  align-items: center;
  position: relative;
  display: inline-flex;
}

.heartAndBag :last-child {
  padding-left: 33px;
}
.bagItem {
  padding-right: 0;
}

.line {
  position: relative;
  top: 102px;
  border-bottom: 1px solid #fda3c4;
}
