.header {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;


    .header_row {

      .firstLine {
        justify-content: center;
        display: flex;
        flex-direction: row;

        .contacts_nav {
          display: flex;
          width: 355px;
          height: 24px;
          margin-top: 21px;
          align-items: center;

          .locationItem {
            margin-right: 10px;
          }

          .phoneItem {
            margin: 0 10px;
          }

          a {
            color: var(--Accent1);
            font-family: Montserrat;
            font-weight: 700;
            font-style: italic;
            font-size: 12px;
          }
        }

        .header_logo {
          display: flex;
          width: 160px;
          height: 40px;
          margin: 10px 215px 0 135px;
        }

        .searchItems {
          display: flex;
          width: 276px;
          height: 24px;
          margin-top: 18px;
          flex-direction: row;

          font-size: 12px;
          font-family: Montserrat;
          font-weight: 700;
          justify-items: center;
          align-items: center;

          .searchIcon {
            margin-right: 16px;
          }

          a {

          }

          .input {

            padding-left: 15px;

            ::placeholder {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: capitalize;
            }

            .search-dropdown {
              position: absolute;
              right: 150px;
              top: 50px;
              width: 30%; /* Ширина соответствует ширине поля поиска */
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для выпадающего списка */
              border-radius: 15px;
              background-color: #ffffff; /* Белый фон списка */
              z-index: 10; /* Убедитесь, что z-index достаточно высок, чтобы быть над другими элементами */
              max-height: 300px; /* Максимальная высота списка */
              overflow-y: auto; /* Прокрутка для списка, если элементов слишком много */
              padding-right: 10px; /* Добавляем отступ справа, чтобы освободить пространство для полосы прокрутки */
            }

            /* Показываем полосу прокрутки только когда необходимо */
            .search-dropdown:hover {
              overflow: auto; /* Показываем область прокрутки при наведении курсора */
            }


            .search-item {
              display: block;
              padding: 10px;
              border-bottom: 1px solid #eeeeee; /* Граница между элементами списка */
              text-decoration: none; /* Убрать подчеркивание текста ссылок */
            }

            .search-item:last-child {
              border-bottom: none; /* Убрать границу у последнего элемента */
            }

            .search-item:hover {
              background-color: #f8f8f8; /* Цвет фона при наведении */
            }

            .search-link {
              display: flex;
              align-items: center;
              color: var(--MainBlack); /* Цвет текста элементов списка */
            }

            .search-image {
              width: 50px; /* Установите желаемый размер изображения */
              height: 50px;
              margin-right: 10px;
              object-fit: contain; /* Для сохранения пропорций изображения */
            }

            .search-title {
              margin-right: 10px;
              flex-grow: 1; /* Текст занимает всё доступное пространство */
            }

            .search-price {
              color: var(--Accent1); /* Цвет цены */
              font-weight: bold; /* Жирное начертание для цены */
              white-space: nowrap;
            }

            /* Общие стили для всех браузеров */
            ::-webkit-scrollbar {
              width: 8px; /* Ширина вертикальной полосы прокрутки в браузерах, использующих движок WebKit (например, Chrome, Safari) */
            }

          }


          .favourites {
            .heartItem {
              //border: 1px solid #000;
              display: flex;
              margin-left: 0;
              //margin-right: 33px;
            }
          }

          .cart {
            .bagItem {
              //border: 1px solid #000;
              display: flex;
              margin-left: 33px;
              //margin-right: 33px;
            }
          }

          .count {
            position: absolute;
            margin: 20px 0 0 252px;
            width: 15px;
            height: 15px;
            background: #BA01E3FF;
            border-radius: 50%;
            font-weight: 700;
            font-size: 10px;
            color: var(--White);
            text-align: center;
            line-height: 16px;
          }
        }
      }

      .header_nav {
        //border: 1px solid #000;

        flex-direction: row;
        justify-content: center;
        display: flex;
        width: 1143px;
        height: 11px;
        margin-top: 26px;
        align-items: center;

        ul {
          display: flex;
          gap: 73px;
        }

        .link {
          color: var(--MainBlack);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }

        .link:hover {
          color: var(--Accent1);
        }

        .link.active {
          color: var(--Accent1);

        }
      }

      .line {
        margin-top: 15px;
        border-bottom: 1px solid var(--Accent1);
      }
    }
  }
}



