.header {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;


    .header_row {

      .firstLine {
        justify-content: center;
        display: flex;
        flex-direction: row;

        .contacts_nav {
          display: flex;
          width: 355px;
          height: 24px;
          margin-top: 21px;
          align-items: center;

          .locationItem {
            margin-right: 10px;
          }

          .phoneItem {
            margin: 0 10px;
          }

          a {
            color: var(--Accent1);
            font-family: Montserrat;
            font-weight: 700;
            font-style: italic;
            font-size: 12px;
          }
        }

        .header_logo {
          display: flex;
          width: 160px;
          height: 40px;
          margin: 10px 215px 0 135px;
        }

        .searchItems {
          display: flex;
          width: 276px;
          height: 24px;
          margin-top: 18px;
          flex-direction: row;

          font-size: 12px;
          font-family: Montserrat;
          font-weight: 700;
          justify-items: center;
          align-items: center;

          .searchIcon {
            margin-right: 16px;
          }

          a {

          }

          .input {
            //border: 1px solid #000;

            padding-left: 15px;

            ::placeholder {
              color: var(--MainBlack);
              font-family: Montserrat;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: capitalize;
            }

          }

          .box {
            border: 1px solid #000;

            z-index: 9;
            //top: 120%;
            position: absolute;
            width: 14.5%;
            left: 65.5%;
            top: 5%;
            max-height: 300px;
            overflow-y: auto;
            padding: 12px;
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            background: #BA01E3FF;
            border-radius: 8px;
          }

          .favourites {
            .heartItem {
              //border: 1px solid #000;
              display: flex;
              margin-left: 0;
              //margin-right: 33px;
            }
          }

          .cart {
            .bagItem {
              //border: 1px solid #000;
              display: flex;
              margin-left: 33px;
              //margin-right: 33px;
            }
          }

          .count {
            position: absolute;
            margin: 20px 0 0 252px;
            width: 15px;
            height: 15px;
            background: #BA01E3FF;
            border-radius: 50%;
            font-weight: 700;
            font-size: 10px;
            color: var(--White);
            text-align: center;
            line-height: 16px;
          }
        }
      }

      .header_nav {
        //border: 1px solid #000;

        flex-direction: row;
        justify-content: center;
        display: flex;
        width: 1143px;
        height: 11px;
        margin-top: 26px;
        align-items: center;

        ul {
          display: flex;
          gap: 73px;
        }

        .link {
          color: var(--MainBlack);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }

        .link:hover {
          color: var(--Accent1);
        }

        .link.active {
          color: var(--Accent1);

        }
      }

      .line {
        margin-top: 15px;
        border-bottom: 1px solid var(--Accent1);
      }
    }
  }
}



