/* Вся карточка */
.Card {
  border: 1px solid #000;
  user-select: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;

  .card_img {
    z-index: 2;
    object-fit: contain;
    margin: 0 5px 0 5px;
  }

  .card_img:hover {
    animation: opacity 0.2s ease-in-out;
  }

  @keyframes opacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .card_link {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  /* Подчеркивание картинки */
  .underline {
    border: 1px solid var(--Accent1);
    bottom: 0;
    left: 20px;
    width: 90%;
  }

  /* Контейнер для сердечка */
  .heart_icon {
    display: inline-flex;
    position: absolute;
    width: 26px;
    height: 24px;
    right: 20px;
    top: 20px;

    .cerved_heart {
      position: absolute;
      z-index: 2;
      cursor: pointer;
    }

    /* Стиль для второго path внутри .cerved_heart */
    .cerved_heart path:nth-child(2) {
      fill: #000;
    }

    .cerved_heart.redHeart path {
      fill: #f00;
    }
  }

  /* Контейнер для всего описания */
  .card_body {
    display: flex;
    width: 100%;
    height: 100%;


    /* Сам текст в описании */
    .card_title {
      display: flex;

      align-self: flex-start;
      justify-self: flex-start;
      margin: 5% 0 0 5%;
      max-width: 212px;
      max-height: fit-content;
      color: var(--MainBlack);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
    }

    /* Цена */
    .card_price {
      display: flex;
      justify-self: flex-end;
      margin: 5% 5% 0 auto;
      padding-left: 5%;
      color: var(--Accent1);
      font-variant-numeric: lining-nums tabular-nums;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      white-space: nowrap;
    }
  }
}

@media (max-width: 274px) {
  .Card .card_body .card_title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

  }
}

