.Suits {
  margin: auto auto 60px auto;
  display: flex;
  justify-content: center;
  width: 100%;

  .container__Suits {
    display: flex;

    .suits_content {

      .titleBlock {
        display: flex;
        flex-direction: column;
        margin: 0 0 14px 150px;

        .first_line {
          display: flex;
          color: var(--Accent1);
          font-family: Neucha;
          font-size: 54px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .underTitle {
          display: flex;
          flex-direction: row;
          align-items: center;

          .second_line {
            display: inline-flex;
            flex-direction: row;
            color: var(--MainBlack);
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }

          .curved_line {
            margin-left: 17px;
            display: inline-flex;
            flex-direction: row;
            width: 65px;
            height: 15px;
          }
        }
      }

      .cards {
        display: flex;
        justify-content: center;

        .Suit_1 {
          position: relative;
          display: flex;
          width: 25%;
          height: auto;

          .Image_Suit_1 {
            width: 100%;
            position: relative;
          }

          .Price1899_suit_1 {
            display: flex;
            position: absolute;
            left: 29px;
            top: 100px;
          }

          .Price899_suit_1 {
            display: flex;
            position: absolute;
            left: 231px;
            top: 327px;
          }
        }

        .Suit_2 {
          position: relative;
          display: flex;
          width: 25%;
          height: auto;

          .Image_Suit_2 {
            width: 100%;
            display: flex;
          }

          .Price1899_suit_2 {
            display: flex;
            position: absolute;
            left: 45px;
            top: 280px;
          }

          .Price899_suit_2 {
            display: flex;
            position: absolute;
            left: 243px;
            top: 85px;
          }
        }

        .Suit_3 {
          position: relative;
          display: flex;
          width: 25%;
          height: auto;

          .Image_Suit_3 {
            width: 100%;
            display: flex;
          }

          .Price1899_suit_3 {
            display: flex;
            position: absolute;
            left: 56px;
            top: 152px;
          }

          .Price899_suit_3 {
            display: flex;
            position: absolute;
            left: 280px;
            top: 343px;
          }
        }

        .Suit_4 {
          position: relative;
          display: flex;
          width: 25%;
          height: auto;

          .Image_Suit_4 {
            width: 100%;
            display: flex;
          }

          .Price1899_suit_4 {
            display: flex;
            position: absolute;
            left: 68px;
            top: 394px;

          }

          .Price899_suit_4 {
            display: flex;
            position: absolute;
            left: 61px;
            top: 196px;
          }
        }
      }

      /* Кнопка "Смотреть" */
      .button {
        display: flex;
        margin: 27px auto 0 auto;
        justify-content: center;

        .SeeAll {
          &:active {
            scale: 0.95;
          }
        }
      }
    }
  }
}