.TopGoods {
  padding: 15px 0 60px;
  display: flex;
  justify-content: center;

  .container_TopGoods {
    display: flex;
    flex-direction: column;

    .content_TopGoods {
      display: flex;
      width: 100%;

      //Колонка для двух вертикально стопленных карточек
      .vertical-cards {
      }

      // Баннер, растянутый по вертикали
      .Banner {
        width: 466px;
        height: 600px;
        margin: 0 20px;
      }
    }

    .SeeAllred {
      display: flex;
      justify-content: center;
      margin: 27px auto 0 auto;
      width: 180px;
      height: 50px;
    }
  }
}
