.Location {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;


  .container_location {
    display: flex;
    width: 1042px;
    height: 773px;

    .content_location {
      display: flex;
      flex-direction: column;


      .firstLine {
        display: flex;
        position: relative;
        flex-direction: row;

        .booriva {
          display: flex;
          width: 560px;
          height: 643px;
        }

        .BOORIVA_STORE {
          position: absolute;
          display: flex;
          width: 176px;
          height: 118px;
          margin-left: 125px;
          margin-top: 109px;


          color: var(--MainBlack);
          text-align: right;
          font-family: Neucha;
          font-size: 54px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
        }

        .address {
          width: 220px;
          height: 60px;

          display: flex;
          align-self: flex-end;
          margin-right: 17px;


          color: var(--MainBlack);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;

        }

        .info {
          display: flex;

          width: 230px;
          height: 120px;
          margin-top: 363px;
          margin-left: 15px;
          word-break: break-word;

          color: var(--MainBlack);

          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }

        .Line_S {
          width: 22px;
          height: 41px;
          right: 245px;
          position: absolute;
          transform: rotate(-148deg);
        }

        .Line {
          width: 17px;
          height: 27px;
          display: flex;
          position: absolute;
          right: 223px;
          top: 81px;
        }

        .Heart_location_1 {
          width: 60px;
          height: 70px;
          display: flex;
          position: absolute;
          right: 130px;
          top: 20px;
        }

        .Wavy_line {
          width: 115px;
          height: 27px;
          display: flex;
          position: absolute;
          right: 170px;
          top: 167px;
        }

        .Arc_1 {
          width: 34px;
          height: 17px;
          //right: 98px;
          position: absolute;
          right: 97px;
          top: 123px;
        }

        .Arc_2 {
          z-index: 1;
          width: 34px;
          height: 17px;
          position: absolute;
          left: 256px;
          top: 607px;
        }
      }

      .secondLine {
        display: flex;
        height: 126px;
        position: relative;
        flex-direction: column;
        align-items: center;

        .Arrow_1 {
          width: 25px;
          height: 23px;
          position: absolute;
          top: 7px;
          left: 272px;
          transform: rotate(131deg);
        }

        .Arrow_2 {
          width: 25px;
          height: 23px;
          display: flex;
          position: absolute;
          left: 283px;
          top: 15px;
          transform: rotate(131deg);
        }

        .Heart_location_2 {
          width: 60px;
          height: 70px;
          display: flex;
          position: absolute;
          left: 187px;
          top: 51px;
        }

        .button {
          display: flex;
          justify-items: center;
          align-items: center;
          margin-top: 47px;
          
          .locationButton {
            &:active {
              scale: 0.95;
            }
          }
        }

        .map {
          display: flex;
          position: absolute;
          right: 59px;
          top: -130px;
        }
      }
    }
  }
}